h1 {
text-align: center;
}

#classroom {
  width: 1024px;
  height: 640px;
  margin-left: auto;
  margin-right: auto;
  background-image: url('../../assets/classroom-layout.jpg');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

#controls {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

#logo {
  width: 600px;
  height: 180px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.floating-label {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.thought {
  display:flex;
  background-color:yellow;
  padding:20px;
  border-radius:30px;
  min-width:40px;
  max-width:220px;
  min-height:40px;
  margin:20px;
  position:absolute;
  align-items:center;
  justify-content:center;
  text-align:center;
  z-index: 100;
  font-family: system-ui, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.1;
}
.thought:before,
.thought:after {
  content:"";
  background-color:yellow;
  border-radius:50%;
  display:block;
  position:absolute;
  z-index:-1;
}
.thought:before {
  width:44px;
  height:44px;
  top:-12px;
  left:28px;
  box-shadow:-50px 30px 0 -12px yellow;
}
.thought:after {
  bottom:-10px;
  right:26px;
  width:30px;
  height:30px;
  box-shadow:40px -34px 0 0 yellow,
  -28px -6px 0 -2px yellow,
  -24px 17px 0 -6px yellow,
  -5px 25px 0 -10px yellow;

}

.form-control {
  font-family: system-ui, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  -webkit-appearance: none;
}

.form-control + .form-control {
  margin-top: 1em;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em black;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}
